body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h1{
  text-align: center;
  margin-bottom: 3px;
}

video {
  background: #222;
  margin: 0 0 0 0;
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}

#recPart {
  display: flex;
}

#rec{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  display: flex;
  flex-direction:column ;
  align-items: center;
  color: white;
  border: 3px solid white;
}

#point{
  margin: 5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  height: 280px;
  background-color: black;
}